(
    version: 1,
    spawn: (
        room: "main",
        position: (0.0, 1.65, 1.0),
        yaw: 0.0,
    ),
    rooms: [
        (
            id: "main",
            name: "Main Office",
            origin: (0.0, 0.0, 0.0),
            size: (10.0, 3.0, 10.0),
            theme: (
                wall_color: (0.18, 0.18, 0.22),
                floor_color: (0.1, 0.1, 0.12),
                ceiling_color: (0.14, 0.14, 0.18),
            ),
            doors: [
                (
                    wall: East,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "room-2",
                ),
                (
                    wall: East,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "room-3",
                ),
                (
                    wall: East,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "room-4",
                ),
                (
                    wall: East,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "room-5",
                ),
            ],
            desks: [
                (
                    id: "desk-1",
                    name: Some("Clanker #1"),
                    position: (0.0, 0.0, -4.5),
                    yaw: 0.0,
                    cols: 100,
                    rows: 30,
                    monitor_size: (1.8, 1.0),
                    startup: None,
                    character: Some((
                        color: (0.7, 0.5, 0.9),
                        shape: Capsule,
                    )),
                ),
                (
                    id: "desk-2",
                    name: Some("Clanker 2"),
                    position: (1.4576888, 0.0, 1.647227),
                    yaw: -0.05060031,
                    cols: 100,
                    rows: 30,
                    monitor_size: (1.8, 1.0),
                    startup: None,
                    character: Some((
                        color: (0.47800002, 0.5, 0.7),
                        shape: Capsule,
                    )),
                ),
                (
                    id: "desk-3",
                    name: Some("Clanker 3"),
                    position: (-2.1962042, 0.0, 0.662215),
                    yaw: 0.027241431,
                    cols: 100,
                    rows: 30,
                    monitor_size: (1.8, 1.0),
                    startup: None,
                    character: Some((
                        color: (0.556, 0.5, 0.7),
                        shape: Capsule,
                    )),
                ),
                (
                    id: "desk-4",
                    name: Some("Clanker 4"),
                    position: (2.8407514, 0.0, -2.9894457),
                    yaw: -0.4479586,
                    cols: 100,
                    rows: 30,
                    monitor_size: (1.8, 1.0),
                    startup: None,
                    character: Some((
                        color: (0.634, 0.5, 0.7),
                        shape: Capsule,
                    )),
                ),
            ],
        ),
        (
            id: "room-2",
            name: "Room 2",
            origin: (9.001, 0.0, 0.0),
            size: (8.0, 3.0, 8.0),
            theme: (
                wall_color: (0.18, 0.18, 0.22),
                floor_color: (0.1, 0.1, 0.12),
                ceiling_color: (0.14, 0.14, 0.18),
            ),
            doors: [
                (
                    wall: West,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "main",
                ),
            ],
            desks: [],
        ),
        (
            id: "room-3",
            name: "Room 3",
            origin: (9.001, 0.0, 0.0),
            size: (8.0, 3.0, 8.0),
            theme: (
                wall_color: (0.18, 0.18, 0.22),
                floor_color: (0.1, 0.1, 0.12),
                ceiling_color: (0.14, 0.14, 0.18),
            ),
            doors: [
                (
                    wall: West,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "main",
                ),
            ],
            desks: [],
        ),
        (
            id: "room-4",
            name: "Room 4",
            origin: (9.001, 0.0, 0.0),
            size: (8.0, 3.0, 8.0),
            theme: (
                wall_color: (0.18, 0.18, 0.22),
                floor_color: (0.1, 0.1, 0.12),
                ceiling_color: (0.14, 0.14, 0.18),
            ),
            doors: [
                (
                    wall: West,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "main",
                ),
            ],
            desks: [],
        ),
        (
            id: "room-5",
            name: "Room 5",
            origin: (9.001, 0.0, 0.0),
            size: (8.0, 3.0, 8.0),
            theme: (
                wall_color: (0.18, 0.18, 0.22),
                floor_color: (0.1, 0.1, 0.12),
                ceiling_color: (0.14, 0.14, 0.18),
            ),
            doors: [
                (
                    wall: West,
                    offset: 0.0,
                    width: 1.6,
                    height: 2.3,
                    to_room: "main",
                ),
            ],
            desks: [],
        ),
    ],
)